.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

img {
  width: 200px;
}

.navLink {
  font-weight: bold;
  margin-right: 0.6rem;
  text-decoration: none;
}

.navLink i  {
  margin-right: 0.2rem;
}